<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>artist</title>
	<link rel="stylesheet" href='/static/css/artist.css'/>
</head>
<body>
	<div class="topnav">
        <a class="active" href="/">Introduction</a>
        <a href="/signin">Signin</a>
        <a href="/home">Back</a>
    </div>
    <div class="profile-container">
        <div class="profile-pic">
            <img src="{{artist['link']}}" alt="Profile Picture">
        </div>
        <div class="profile-details">
            <h2 class="username">{{artist['username']}}</h2>
            <div class="rating">{{artist['rating']}}/5</div>
            <p class="bio">{{artist['bio']}}</p>
            <div class="music-type">{{artist['music_type']}}</div>
            <div class="solo-team">{{artist['artist']}}</div>
            <div class="location">{{artist['location']}}</div>
            <a href='https://{{ artist["insta_link"] }}'><h2 class="Instagram">Instagram</h2></a>
        </div>
    </div>

</body>
</html>