<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel="stylesheet" href="static/css/intro.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Introduction</a>
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>


    </div>
    <div class="welcome-container">
        <h1>Welcome Babes<3</h1>        
    </div>
    <div class="intro-container">
        <div class="intro-content">
            <h1>MeloMates</h1>
            <p>MeloMates is a website for musician, bands and artist to connect and collaborate with eachother,
            everyone that logs in well show up on everyones home page and you can view their profile and find their instagram to contact with them</p>
            <a href="/signin" class="btn">Signin</a>
            <a href="/signup" class="btn">Signup</a>
        </div>
    </div>
    <img src="https://png.pngtree.com/png-clipart/20210311/original/pngtree-music-icon-png-image_6045914.jpg">
</body>
</html>